In [2]:
import pandas as pd

df = pd.read_csv("MTA_Subway_Origin-Destination_Ridership_Estimate__2024_20250225.csv")

In [4]:
df.head()

,Year,Month,Day of Week,Hour of Day,Timestamp,Origin Station Complex ID,Origin Station Complex Name,Origin Latitude,Origin Longitude,Destination Station Complex ID,Destination Station Complex Name,Destination Latitude,Destination Longitude,Estimated Average Ridership,Origin Point,Destination Point
0,2024,9,Tuesday,14,09/03/2024 02:00:00 PM,355,"Winthrop St (2,5)",40.656652,-73.950200,185,Liberty Av (C),40.674542,-73.896548,0.6233,POINT (-73.9502 40.656652),POINT (-73.896548 40.674542)
1,2024,9,Tuesday,14,09/03/2024 02:00:00 PM,395,103 St (6),40.790600,-73.947478,313,"72 St (1,2,3)",40.778453,-73.981970,0.6595,POINT (-73.947478 40.7906),POINT (-73.98197 40.778453)
2,2024,9,Tuesday,14,09/03/2024 02:00:00 PM,405,23 St (6),40.739864,-73.986599,190,80 St (A),40.679371,-73.858992,0.5770,POINT (-73.986599 40.739864),POINT (-73.858992 40.679371)
3,2024,9,Tuesday,14,09/03/2024 02:00:00 PM,608,"4 Av (F,G)/9 St (R)",40.670559,-73.989041,235,York St (F),40.701397,-73.986751,3.4720,POINT (-73.989041 40.670559),POINT (-73.986751 40.701397)
4,2024,9,Tuesday,14,09/03/2024 02:00:00 PM,141,Park Pl (S),40.674772,-73.957624,336,"Hoyt St (2,3)",40.690545,-73.985065,1.6085,POINT (-73.957624 40.674772),POINT (-73.985065 40.690545)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826409 entries, 0 to 1826408
Data columns (total 16 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Year                              int64
 1   Month                             int64
 2   Day of Week                       object
 3   Hour of Day                       int64
 4   Timestamp                         object
 5   Origin Station Complex ID         int64
 6   Origin Station Complex Name       object
 7   Origin Latitude                   float64
 8   Origin Longitude                  float64
 9   Destination Station Complex ID    int64
 10  Destination Station Complex Name  object
 11  Destination Latitude              float64
 12  Destination Longitude             float64
 13  Estimated Average Ridership       float64
 14  Origin Point                      object
 15  Destination Point                 object
dtypes: float64(5), int64(5), object(6)
memory usage: 223.0+ MB

In [7]:
df.describe()

,Year,Month,Hour of Day,Origin Station Complex ID,Origin Latitude,Origin Longitude,Destination Station Complex ID,Destination Latitude,Destination Longitude,Estimated Average Ridership
count,1826409.0,1826409.0,1.826409e+06,1.826409e+06,1.826409e+06,1.826409e+06,1.826409e+06,1.826409e+06,1.826409e+06,1.826409e+06
mean,2024.0,9.0,1.503020e+01,2.916973e+02,4.073398e+01,-7.394537e+01,2.877802e+02,4.073270e+01,-7.394140e+01,2.923071e+00
std,0.0,0.0,8.127700e-01,1.789383e+02,6.999819e-02,5.174968e-02,1.775083e+02,7.210428e-02,5.379136e-02,8.094997e+00
min,2024.0,9.0,1.400000e+01,1.000000e+00,4.057613e+01,-7.403088e+01,1.000000e+00,4.057613e+01,-7.403088e+01,2.000000e-01
25%,2024.0,9.0,1.400000e+01,1.510000e+02,4.068615e+01,-7.398598e+01,1.460000e+02,4.068283e+01,-7.398426e+01,3.358000e-01
50%,2024.0,9.0,1.500000e+01,2.840000e+02,4.073234e+01,-7.395559e+01,2.790000e+02,4.073005e+01,-7.395182e+01,9.145000e-01
75%,2024.0,9.0,1.600000e+01,4.070000e+02,4.077559e+01,-7.391528e+01,4.050000e+02,4.077559e+01,-7.390523e+01,2.411800e+00
max,2024.0,9.0,1.600000e+01,6.360000e+02,4.090313e+01,-7.375540e+01,6.360000e+02,4.090313e+01,-7.375540e+01,8.590293e+02